<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
  <title>Cursos</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/admin-cursos.css">
  </th:block>
</head>

<body>
  <div layout:fragment="content">
    <section class="admin-construccion">
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <h2>El CRUD de cursos está en construcción</h2>
      <p>Acá vas a poder crear, editar, eliminar y buscar cursos del catálogo.</p>
    </section>
  </div>
</body>
</html>
